@media screen and ( max-width: 959px )
  .steps
    padding: 50px 60px
    &__inner
      flex-direction: column
      align-items: center
      justify-content: flex-start
    &__item
      max-width: none
      width: 600px
      &_small
        justify-content: space-between
      &-text
        max-width: 330px
        &_large
          max-width: none
      &-img
        &_large
          margin: 0 0 -50px
      &_2 .steps__item-img
        padding-right: 45px
    &__arrow-wrapper
      display: none
    &__note
      margin-top: 20px